<%= simple_form_for [:admin, @product] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :quantity %>
  <%= f.input :price %>
  <%= f.input :series, :collection => ["kirby", "monster_hunter", "super_smash_bros", "super_mario", "splatoon", "zelda_botw", "animal_crossing"], :selected => "kirby" %>

  <% if @product.image.present? %>
    <span>目前商品圖</span> <br>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

  <%= f.input :image, as: :file %>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
