<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">總覽</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">星之卡比系列</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Monster Hunter系列</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">任天堂明星大亂鬥系列</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">超級瑪利歐系列</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">斯普拉遁系列</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">薩耳達傳說 曠野之息系列</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">動物森友會系列</button>
  </div>
</div>

<br>


<div class="row">
  <h1>酷炫的Slogan</h1>
  <h1>酷炫的Slogan</h1>
  <h1>酷炫的Slogan</h1>
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
